<template>
  <div>
    <div class="row">
      <div class="col-md-6">
        <h1>List of products</h1>
        <ul class="list-group">
          <li v-for="product in products" :key="product.id" class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                {{ product.name }}({{ product.qty }})
              </div>
              <div class="col-md-6">
                <button class="btn btn-primary" @click="addToCart(product)">add to cart</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h1>Cart ({{ cart.length }})</h1>
        <ul class="list-group">
          <li v-for="item in cart" :key="item.id" class="list-group-item">
            {{ item.name }}({{ item.qty }})
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Cart',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      products: [],
      cart: []
    }
  },
  methods: {
    addToCart (product) {
      let findItem = this.cart.find(item => product.id === item.id)
      if(findItem) {
        let existingProduct = this.products.find(item => item.id === findItem.id)
        if (existingProduct.qty > findItem.qty) {
          findItem.qty++
        }
        else {
          alert("we don't have more qty")
        }
      }
      else {
        let item = {
          id: product.id,
          name: product.name,
          qty: 1
        }
        this.cart.push(item)
      }
    }
  },
  mounted () {
    /* global axios */
    axios.get('http://products.test/products.json').then(response => {
      this.products = response.data
    })
  }
}
</script>
